.container {
  display: flex;
  flex-direction: column;
  padding: 16px 0px;
}

.label {
  color: var(--gray-500);
  font-weight: bold;
  font-size: 1rem;
}

.input {
  border: none;
  border-radius: 4px;
  font-size: 1.4rem;
  margin-top: 4px;
  outline: none;
  color: var(--gray-500);
  padding: 8px 0 8px 16px;
}
