.container {
  display: flex;
  flex-direction: column;
  padding: 0px 0px 16px;
  flex: 1;
}

.label {
  color: var(--gray-500);
  font-weight: 600;
  font-size: 0.8rem;
}

.input {
  border: none;
  border-radius: 4px;
  font-size: 0.9rem;
  margin-top: 6px;
  outline: none;
  color: var(--gray-500);
  padding: 12px 0 12px 16px;
}

.input::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: var(--gray-200);
}

.input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: var(--gray-200);
  opacity: 1;
}

.input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: var(--gray-200);
  opacity: 1;
}

.input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--gray-200);
}

.input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--gray-200);
}

.input::placeholder {
  /* Most modern browsers support this now. */
  color: var(--gray-200);
}