.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  color: white;
 
  box-shadow: none;
  
  border: none;
  cursor: pointer;
  margin-right: 6px;
  font-weight: 600;
}

.small {
  font-size: 0.9rem;
  border-radius: 16px;
  padding: 0.2rem 0.85rem;
}

.big {
  font-size: 1rem;
  padding: 0.6rem 0.85rem;
  border-radius: 6px;
}

.icon {
  font-size: 1.4rem;
  margin-right: 6px;
}

.primary {
  background-color: var(--blue-600);
}

.primary:hover {
  background-color: var(--blue-800);
}

.secondary {
  background-color: var(--gray-400);
}

.secondary:hover {
  background-color: var(--gray-500);
}

.helper {
  background-color: var(--gray-600);
}

.helper:hover {
  background-color: var(--gray-700);
}

.delete {
  background-color: var(--red-600);
}

.delete:hover {
  background-color: var(--red-800);
}