.externalContainer {
  background-color: white;
}

.rowContainer {
  display: flex;
  height: calc(100vh - 3.4rem);
}

.container {
  width: 65vw;
  display: flex;
  background-color: var(--offwhite);
  cursor: pointer;
}