.tableRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 6px;
  background-color: var(--gray-50);
  margin-right: 6px;
  margin-top: 6px;
  font-size: 1rem;
  padding: 12px 24px;
  color: var(--gray-700);
  font-weight: 600;
  cursor: pointer;
  border-radius: 4px;
}

.tableRow:hover {
  background-color: var(--gray-75);
}

.infoContainer {
  display: flex;
  gap: 6px;
}

.pathName {
  padding-right: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
}