.externalContainer {
  display: flex;
  flex: 1;
  height: 100vh;
  background-color: red;
}

.rowContainer {
  display: flex;
}

.columnContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
}