.externalContainer {
  display: flex;
  /* align-items: flex-start; */
  flex: 1;
  height: 100vh;
}

.rowContainer {
  display: flex;
}

.columnContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
}