.columnContainer {
  background-color: var(--gray-100);
  display: flex;
  flex-direction: column;
  flex: 1;
}

.rowContainer {
  display: flex;
}

.toolsContainer {
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: 4px;
}


.section {
  padding: 1.5rem 2rem;
}

.spacer {
  height: 1px;
  background-color: white;
}

.headerSpacer {
  margin-top: 0.6rem;
}